body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-image: linear-gradient(116deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 10%,rgba(14, 14, 14, 0.03) 10%, rgba(14, 14, 14, 0.03) 66%,rgba(232, 232, 232, 0.03) 66%, rgba(232, 232, 232, 0.03) 72%,rgba(44, 44, 44, 0.03) 72%, rgba(44, 44, 44, 0.03) 81%,rgba(51, 51, 51, 0.03) 81%, rgba(51, 51, 51, 0.03) 100%),linear-gradient(109deg, rgba(155, 155, 155, 0.03) 0%, rgba(155, 155, 155, 0.03) 23%,rgba(30, 30, 30, 0.03) 23%, rgba(30, 30, 30, 0.03) 63%,rgba(124, 124, 124, 0.03) 63%, rgba(124, 124, 124, 0.03) 73%,rgba(195, 195, 195, 0.03) 73%, rgba(195, 195, 195, 0.03) 84%,rgba(187, 187, 187, 0.03) 84%, rgba(187, 187, 187, 0.03) 100%),linear-gradient(79deg, rgba(254, 254, 254, 0.03) 0%, rgba(254, 254, 254, 0.03) 27%,rgba(180, 180, 180, 0.03) 27%, rgba(180, 180, 180, 0.03) 33%,rgba(167, 167, 167, 0.03) 33%, rgba(167, 167, 167, 0.03) 34%,rgba(68, 68, 68, 0.03) 34%, rgba(68, 68, 68, 0.03) 63%,rgba(171, 171, 171, 0.03) 63%, rgba(171, 171, 171, 0.03) 100%),linear-gradient(109deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 3%,rgba(97, 97, 97, 0.03) 3%, rgba(97, 97, 97, 0.03) 40%,rgba(40, 40, 40, 0.03) 40%, rgba(40, 40, 40, 0.03) 55%,rgba(5, 5, 5, 0.03) 55%, rgba(5, 5, 5, 0.03) 73%,rgba(242, 242, 242, 0.03) 73%, rgba(242, 242, 242, 0.03) 100%),linear-gradient(271deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 11%,rgba(178, 178, 178, 0.03) 11%, rgba(178, 178, 178, 0.03) 23%,rgba(28, 28, 28, 0.03) 23%, rgba(28, 28, 28, 0.03) 72%,rgba(152, 152, 152, 0.03) 72%, rgba(152, 152, 152, 0.03) 86%,rgba(43, 43, 43, 0.03) 86%, rgba(43, 43, 43, 0.03) 100%),linear-gradient(90deg, rgb(27, 27, 27),rgb(1, 1, 1));
  }





/* Menu de navigation */
/* Menu de navigation */
header {  
    background-image: radial-gradient(circle at 97% 32%, rgba(131, 131, 131,0.05) 0%, rgba(131, 131, 131,0.05) 50%,rgba(20, 20, 20,0.05) 50%, rgba(20, 20, 20,0.05) 100%),radial-gradient(circle at 61% 40%, rgba(35, 35, 35,0.05) 0%, rgba(35, 35, 35,0.05) 50%,rgba(239, 239, 239,0.05) 50%, rgba(239, 239, 239,0.05) 100%),radial-gradient(circle at 47% 73%, rgba(122, 122, 122,0.05) 0%, rgba(122, 122, 122,0.05) 50%,rgba(5, 5, 5,0.05) 50%, rgba(5, 5, 5,0.05) 100%),linear-gradient(90deg, rgb(249,254,18),rgb(0,0,0));
}

.logo-header {
    margin: 10px;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav {
    width: 100%;
    background-color: radial-gradient(circle at 97% 32%, rgba(131, 131, 131,0.05) 0%, rgba(131, 131, 131,0.05) 50%,rgba(20, 20, 20,0.05) 50%, rgba(20, 20, 20,0.05) 100%),radial-gradient(circle at 61% 40%, rgba(35, 35, 35,0.05) 0%, rgba(35, 35, 35,0.05) 50%,rgba(239, 239, 239,0.05) 50%, rgba(239, 239, 239,0.05) 100%),radial-gradient(circle at 47% 73%, rgba(122, 122, 122,0.05) 0%, rgba(122, 122, 122,0.05) 50%,rgba(5, 5, 5,0.05) 50%, rgba(5, 5, 5,0.05) 100%),linear-gradient(90deg, rgb(249,254,18),rgb(0,0,0));
}

/* nav > div > ul {
    margin: 0px;
    padding: 0px;
} */

nav > div > ul::after {
    content: "";
    display: block;
    clear: both;
}

.nav-leclub > a::after {
    content: "▼";
    font-size: 10px;
}
.nav-seniors > a::after {
    content: "▼";
    font-size: 10px;
}

.nav-ecole > a::after {
    content: "▼";
    font-size: 10px;
}

nav > div > ul > li {
    float: left;
    position: relative;
    background: linear-gradient(rgb(35,35,35), #46464b);
    color: white;
    border-radius: 15px;
    margin: 10px;
    list-style-type: none;
}

nav > div > ul > li:hover {
    background: linear-gradient(rgb(35,35,35), #696972);
}

nav > div > ul > li > a {
    padding: 15px 30px;
    color: white;
}

nav > div > ul > li > a {
    display: inline-block;
    text-decoration: none;
}

nav > div > ul > li > ul > li:hover {
    background: linear-gradient(rgb(35,35,35), #696972);
    border-radius: 15px;
}

nav > div > ul > li > ul > li {
    padding: 10px;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    background-image: linear-gradient(rgb(35,35,35), #696972);
    border-radius: 15px;
    list-style-type: none;
}

.submenu {
    display: none;
}

.submenu li a {
    padding: 10px 30px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}






/* Contenu MAIN */
/* Contenu MAIN */
h1, p {
    color: white;
}



/* Footer */
/* Footer */